* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

ol,
ul {
  list-style: none;
}
